# Neon Postgres Connection String (e.g. postgresql://user:password@ep-xyz.eu-central-1.aws.neon.tech/neondb?sslmode=require)
DATABASE_URL=

# Cloudinary Image & File Storage Configuration
CLOUDINARY_CLOUD_NAME=hfj6afxi
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=shegaddis_uploads
CLOUDINARY_URL=

# Server Authentication Secret
JWT_SECRET=super-secret-jwt-key-shegaddis-production

# App Environment
NODE_ENV=development
